name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
    - name: Install and build
      run: |
        npm ci
        npm run build
    - name: Test
      run: npm run test
      env:
        CI: true
